
# Python
*.pyc
__pycache__/

# Environment
venv/
env/
my_llm_env/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
logs/
*.log

# Hugging Face Transformers Cache
.cache/

# PyTorch Model Files
*.pt
*.pth
